
body {
  background-color: #d9d9d9;
  background-image: url("images/farinellaEating.jpg");
  background-repeat: repeat-x;
  background-size: 200px 200px;

}

p {
  color: 	#9900ff;
  font-family: "Barrio", cursive;
  font-size: 30px;
  font-weight:lighter;
  text-align: left;
  margin-top: 100px;

}

h1 {
  color: 	#66ff99;
  font-family: "Barrio", cursive;
  font-size: 60px;
  font-weight:lighter;
  text-align: center;
  position: relative;
  top: 30px;

}

.pizzaEating img {
  float: right;
  width: 200;
  height: 200;
}

.chickenEating img{

}

.salmonEating img {

}
